{% assign ratio = 1 %}
{% if aspect_ratio == 'portrait' %}
  {% assign ratio = 0.8 %}
{% elsif aspect_ratio == 'adapt' %}
  {% if product.selected_or_first_available_variant.featured_image != blank %}
    {% assign ratio = product.selected_or_first_available_variant.featured_image.aspect_ratio %}
  {% elsif product.featured_image != blank %}
    {% assign ratio = product.featured_image.aspect_ratio %}
  {% else %}
    {% assign ratio = 1 %}
  {% endif %}
{% endif %}

<div class="article_card_wrapper">
  <div
    class="article_card_img ratio{% if show_card_bg %} has_bg{% endif %}"
    style="--aspect-ratio: {{ 1 | divided_by: ratio | times: 100 }}%; {% if show_card_bg %}--card-bg: {{ card_bg }}{% endif %}"
  >
    {% if article.image != blank %}
      <a aria-label="{{ article.title }}" href="{{ article.url }}">
        {{ article.image | image_url: width: 1200 | image_tag: class: 'main_ac_image' }}
      </a>
    {% else %}
      {% assign ac_index = index | modulo: 2 %}
      <a aria-label="{{ article.title }}" href="{{ article.url }}">
        {% if ac_index == 1 %}
          {{ 'product-2' | placeholder_svg_tag: 'placeholder_svg' }}
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder_svg' }}
        {% endif %}
      </a>
    {% endif %}
  </div>

  <div class="article_card_info pc_info--{{ card_align }}" style="--text-align: {{ card_align }}">
    <h4 class="small-text">{{ article.title | link_to: article.url }}</h4>    
  </div>
</div>
