<div
  class="custom_section_text{% if block.settings.text_style == 'body' %} rte{% endif %} cs--{{ block.settings.text_style }}"
  style="text-align: {{ block.settings.alignment }};"
>
  {% if block.settings.text_style == 'heading' %}
    <h2 class="{{ block.settings.head_size }} reveal">{{ block.settings.text }}</h2>
  {% else %}
    <p>{{ block.settings.text }}</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "Text"
    },
    {
      "type": "select",
      "id": "text_style",
      "label": "Text style",
      "options": [
        {
          "value": "heading",
          "label": "Heading"
        },
        {
          "value": "body",
          "label": "Body"
        }
      ],
      "default": "heading"
    },
    {
      "type": "select",
      "id": "head_size",
      "label": "Heading size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "default": "h2",
      "visible_if": "{{ block.settings.text_style == 'heading' }}"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "presets": [
    {
      "name": "Text"
    }
  ]
}
{% endschema %}
