{% style %}
  .collection_banner_wrapper--{{ section.id }} {
      padding-top: {{ section.settings.top_spacing }}px;
      padding-bottom: {{ section.settings.bottom_spacing }}px;
      overflow: hidden;
  }

  @media screen and (max-width: 1199px) {
    .collection_banner_wrapper--{{ section.id }} {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  @media screen and (max-width: 640px) {
    .collection_banner_wrapper--{{ section.id }} {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
{% endstyle %}

{{ 'collection-banner.css' | asset_url | stylesheet_tag }}

<div
  class="collection_banner_wrapper--{{ section.id }} color-{{ section.settings.color_scheme }}"
  style="--content-max-width: {{ section.settings.max_width }}px;"
>
  <div class="container">
    <div class="collection_banner_inner{% if collection.image != blank %} has_img{% endif %}">
      <div class="collection_banner_text_wrapper">
        {% if section.settings.head != blank %}
          <h2 class="h1">{{ section.settings.head }}</h2>
        {% else %}
          <h2 class="h1">{{ collection.title }}</h2>
        {% endif %}
        {% if section.settings.show_description %}
          {% if collection.description != blank %}
            <div class="collection_banner_text rte">
              {{ collection.description }}
            </div>
          {% endif %}
        {% endif %}

        {% if section.settings.show_breadcrumbs %}
          {% render 'breadcrumbs' %}
        {% endif %}
      </div>

      {% if section.settings.show_img %}
        {% if collection.image != blank %}
          <div class="collection_banner_img{% if section.settings.tilt_img %} tilt_img{% endif %}">
            {{ collection.image | image_url: width: 1920 | image_tag }}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection banner",
  "enabled_on": {
    "templates": ["collection"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-3"
    },
    {
      "type": "text",
      "id": "head",
      "label": "Heading",
      "default": "Collection",
      "info": "Leave blank to display the collection title"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "range",
      "id": "max_width",
      "label": "Content max. width",
      "min": 400,
      "max": 1200,
      "step": 10,
      "default": 530,
      "unit": "px",
      "visible_if": "{{ section.settings.show_description }}"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_img",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tilt_img",
      "label": "Tilt image",
      "default": true
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "Top spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 80,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "Bottom spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 80,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Collection banner"
    }
  ]
}
{% endschema %}
