{{ 'kopilot-base.css' | asset_url | stylesheet_tag }}
{{ 'kopilot-icons.css' | asset_url | stylesheet_tag }}
{{ 'kopilot-footer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'kopilot-footer.js' | asset_url }}" defer></script>

{% liquid
  assign contact_block_heading = section.settings.contact_block_heading
  assign phone_label = section.settings.phone_label
  assign phone = section.settings.phone
  assign email_label = section.settings.email_label
  assign email = section.settings.email
  assign contact_link_label = section.settings.contact_link_label
  assign contact_link_url = section.settings.contact_link_url

  assign logo_list_label = section.settings.logo_list_label
  assign google_play_logo = section.settings.google_play_logo
  assign google_play_link = section.settings.google_play_link
  assign apple_store_logo = section.settings.apple_store_logo
  assign apple_store_link = section.settings.apple_store_link

  assign corporate_block_heading = section.settings.corporate_block_heading
  assign corporate_menu = section.settings.corporate_menu
  assign contact_us_label = section.settings.contact_us_label

  assign social_block_heading = section.settings.social_block_heading

  assign privacy_menu = section.settings.privacy_menu

  assign pdf_link_label = section.settings.pdf_link_label
  assign pdf_link_url = section.settings.pdf_link_url

  assign instagram_block_heading = section.settings.instagram_block_heading
  assign instagram_link = section.settings.instagram_link | default: settings.social_instagram_link
%}
<div class="container">
  <div class="footer-instagram">
    <a href="{{ instagram_link }}" class="footer-instagram-title">
      <span class="icon icon-instagram"></span>
      <span>
        {{ instagram_block_heading }}
      </span>
    </a>
    <div class="footer-instagram-slider js-footer-instagram-slider">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.settings.image != blank %}
            <div class="swiper-slide">
              <a href="{{ block.settings.link | default: instagram_link }}" class="footer-instagram-slider-item image-wrapper">
                {% render 'render-image', image: block.settings.image %}
                <span class="icon icon-arrow"></span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% render 'tag-block' %}
  </div>
  <div class="footer-menu-wrapper">
    <div class="footer-menu">
      <div class="footer-menu-title">
        {{ contact_block_heading }}
      </div>
      {% if phone_label != blank and phone != blank %}
        <div class="footer-menu-contacts">
          <div class="footer-menu-link-label">
            {{ phone_label }}
          </div>
          {% if phone != blank %}
            <a href="tel:+{{ phone | remove: '(' | remove: ')' | remove: '-' | remove: ' ' | remove: '+' }}" class="footer-menu-link">
              {{ phone }}
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% if email_label != blank and email != blank %}
        <div class="footer-menu-contacts">
          <div class="footer-menu-link-label">
            {{ email_label }}
          </div>
          {% if email != blank %}
            <a href="mailto:{{ email }}" class="footer-menu-link">
              {{ email }}
            </a>
          {% endif %}
        </div>
      {% endif %}
      <div class="footer-menu-contacts">
        <div class="footer-menu-link-label">
          {{ logo_list_label }}
        </div>
        <div class="footer-menu-contacts-logo-list">
          {% if google_play_link != blank %}
            <a href="{{ google_play_link }}" class="footer-menu-contacts-logo-item" target="_blank" rel="nofollow" title="Google play">
              {% render 'render-image', image: google_play_logo %}
            </a>
          {% else %}
            <div class="footer-menu-contacts-logo-item">
              {% render 'render-image', image: google_play_logo %}
            </div>
          {% endif %}
          {% if apple_store_link != blank %}
            <a href="{{ apple_store_link }}" class="footer-menu-contacts-logo-item" target="_blank" rel="nofollow" title="App store">
              {% render 'render-image', image: apple_store_logo %}
            </a>
          {% else %}
            <div class="footer-menu-contacts-logo-item">
              {% render 'render-image', image: apple_store_logo %}
            </div>
          {% endif %}
        </div>
      </div>
      {% if contact_link_label != blank and contact_link_url != blank %}
        <div class="footer-menu-contacts">
          <a href="{{ contact_link_url }}" class="footer-menu-link">
            {{ contact_link_label }}
          </a>
        </div>
      {% endif %}
    </div>
    <div class="footer-menu">
      <div class="footer-menu-title">
        {{ corporate_block_heading }}
      </div>
      <div class="footer-menu-contacts">
        {% for link in corporate_menu.links %}
          <a href="{{ link.url }}" class="footer-menu-link">
            {{ link.title }}
          </a>
        {% endfor %}
        {% if pdf_link_label != blank and pdf_link_url != blank %}
          <a href="{{ pdf_link_url }}" target="_blank" rel="nofollow" class="footer-menu-link">
            {{ pdf_link_label }}
          </a>
        {% endif %}
      </div>
      <a href="#" class="footer-menu-link js-open-contact">
        {{ contact_us_label }}
      </a>
    </div>
    <div class="footer-menu">
      <div class="footer-menu-title">
        {{ social_block_heading }}
      </div>
      {% if settings.social_instagram_link != blank %}
        <a href="{{ settings.social_instagram_link }}" class="footer-menu-link footer-menu-link-bold">
          {{ 'general.social.links.instagram' | t }}
        </a>
      {% endif %}
      {% if settings.social_facebook_link != blank %}
        <a href="{{ settings.social_facebook_link }}" class="footer-menu-link footer-menu-link-bold">
          {{ 'general.social.links.facebook' | t }}
        </a>
      {% endif %}
      {% if settings.social_twitter_link != blank %}
        <a href="{{ settings.social_twitter_link }}" class="footer-menu-link footer-menu-link-bold">
          {{ 'general.social.links.twitter' | t }}
        </a>
      {% endif %}
    </div>
  </div>
  <div class="footer-bottom">
    <ul class="footer-bottom-menu">
      {% for link in privacy_menu.links %}
        <li class="footer-bottom-menu-item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
      <li class="footer-bottom-menu-item created-by">
        <span>Designed by</span>
        <a href="https://league.design/"> LEAGUE DESIGN AGENCY</a>
      </li>
      {% if section.settings.dev_by_text != blank and section.settings.dev_by_logo != blank %}
        <li class="footer-bottom-menu-item developed-by">
          <span>{{ section.settings.dev_by_text }}</span>
          <a href="{{ section.settings.dev_by_url }}" target="_blank" rel="noopener">
            <img
              src="{{ section.settings.dev_by_logo | image_url: width: 120 }}"
              alt="{{ section.settings.dev_by_text }}"
              title="{{ section.settings.dev_by_tooltip }}"
              class="footer__dev-logo"
              loading="lazy"
              width="120"
              height="auto"
            >
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "footer",
  "settings": [
    {
      "type": "text",
      "id": "dev_by_text",
      "label": "Label text",
      "default": "Developed by"
    },
    {
      "type": "image_picker",
      "id": "dev_by_logo",
      "label": "Developed logo"
    },
    {
      "type": "url",
      "id": "dev_by_url",
      "label": "Developer link"
    },
    {
      "type": "text",
      "id": "dev_by_tooltip",
      "label": "Logo tooltip",
      "default": "eCommerce development without borders"
    },
    {
      "type": "header",
      "content": "Instagram block settings"
    },
    {
      "type": "text",
      "id": "instagram_block_heading",
      "label": "Block heading",
      "default": "kopilot.ID"
    },
    {
      "type": "url",
      "id": "instagram_link",
      "label": "Instagram link"
    },
    {
      "type": "header",
      "content": "Contact block settings"
    },
    {
      "type": "text",
      "id": "contact_block_heading",
      "label": "Block heading",
      "default": "Contact"
    },
    {
      "type": "text",
      "id": "phone_label",
      "label": "Phone label",
      "default": "Call us"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone",
      "default": "31-0-22-222-2222"
    },
    {
      "type": "text",
      "id": "email_label",
      "label": "Email label",
      "default": "email us"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email",
      "default": "info.kopilot.id"
    },
    {
      "type": "text",
      "id": "contact_link_label",
      "label": "Contact link label",
      "default": "Our contacts"
    },
    {
      "type": "url",
      "id": "contact_link_url",
      "label": "Contact link url"
    },
    {
      "type": "header",
      "content": "Contact logo list settings"
    },
    {
      "type": "text",
      "id": "logo_list_label",
      "label": "Logo list label",
      "default": "App stores"
    },
    {
      "type": "url",
      "id": "google_play_link",
      "label": "Google play link"
    },
    {
      "type": "image_picker",
      "id": "google_play_logo",
      "label": "Google play logo"
    },
    {
      "type": "url",
      "id": "apple_store_link",
      "label": "Apple store link"
    },
    {
      "type": "image_picker",
      "id": "apple_store_logo",
      "label": "Apple store logo"
    },
    {
      "type": "header",
      "content": "Corporate block settings"
    },
    {
      "type": "text",
      "id": "corporate_block_heading",
      "label": "Block heading",
      "default": "Corporate"
    },
    {
      "type": "link_list",
      "id": "corporate_menu",
      "label": "Menu"
    },
    {
      "type": "text",
      "id": "contact_us_label",
      "label": "Contact us label",
      "default": "contact us"
    },
    {
      "type": "header",
      "content": "Social block settings"
    },
    {
      "type": "text",
      "id": "social_block_heading",
      "label": "Block heading",
      "default": "Social Media"
    },
    {
      "type": "header",
      "content": "Privacy block settings"
    },
    {
      "type": "link_list",
      "id": "privacy_menu",
      "label": "Menu"
    },
    {
      "type": "text",
      "id": "pdf_link_label",
      "label": "PDF link label",
      "default": "Retailers and Manufacturers"
    },
    {
      "type": "url",
      "id": "pdf_link_url",
      "label": "PDF link url"
    }
  ],
  "blocks": [
    {
      "type": "instagram_image",
      "name": "Instagram image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
