{% style %}
  .password_email_banner_wrapper--{{ section.id }} {
    padding-top: {{ section.settings.top_spacing }}px;
    padding-bottom: {{ section.settings.bottom_spacing }}px;
    width: 100%;
    height: auto;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .password_email_banner_wrapper--{{ section.id }} .container {
    width: 100%;
  }

  @media screen and (max-width: 640px) {
    .password_email_banner_wrapper--{{ section.id }} {
      padding-top: {{ section.settings.top_spacing | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.bottom_spacing | divided_by: 2 }}px;   
  }
  }
{% endstyle %}

{{ 'password-email-banner.css' | asset_url | stylesheet_tag }}

<div class="password_email_banner_wrapper--{{ section.id }} color-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="password_email_banner_inner{% if section.settings.img != blank %} has_image{% endif %}">
      {% if section.settings.img != blank %}
        <div class="password_email_banner_img_wrapper">
          {{ section.settings.img | image_url: width: 1920 | image_tag }}
        </div>
      {% endif %}
      {% if section.settings.head != blank %}
        <div class="password_email_banner_head">
          <h2 class="reveal stagger">{{ section.settings.head }}</h2>
          {% if section.settings.text != blank %}
            <div class="password_email_banner_text reveal stagger">
              <p>{{ section.settings.text }}</p>
            </div>
          {% endif %}
        </div>
      {% endif %}

      <div class="password_email_banner_form_wrapper">
        {% form 'customer', id: 'password_email_banner_form' %}
          <input type="hidden" name="contact[tags]" value="newsletter">

          {% if form.errors %}
            <div class="form_error_msg">
              <p class="form_message" role="alert" tabindex="-1" autofocus>
                <svg aria-hidden="true" focusable="false" viewBox="0 0 13 13">
                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                </svg>
                {{ 'general.form.error_heading' | t }}
              </p>
            </div>
            <div class="form_errors">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

          <div class="password_email_banner_form_error_message hidden">
            <span>{{ 'general.form.valid_email_error' | t }}</span>
          </div>

          <div class="pasword_email_banner_form_fields reveal stagger">
          <div class="input_field_wrapper">
            <input
              id="StorefrontPasswordForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="Newsletter-error--{{ section.id }}"
              {% elsif form.posted_successfully? %}
                aria-describedby="Newsletter-success--{{ section.id }}"
              {% endif %}
              placeholder="{{ 'newsletter.label' | t }}"
            >
            <label class="field__label" for="StorefrontPasswordForm--{{ section.id }}">
              {{ 'newsletter.label' | t | append: ' *' }}
            </label>
          </div>

          <div class="password_email_banner_btn">
            <button
              type="submit"
              class="btn btn--primary"
              name="commit"
              id="Subscribe"
              aria-label="{{ 'newsletter.button_label' | t }}"
            >
              {{ 'newsletter.button_label' | t }}
            </button>
          </div>
          </div>

          {%- if form.posted_successfully? -%}
            <p class="form_success_msg reveal stagger" tabindex="-1" autofocus>
              {{- 'icon-success.svg' | inline_asset_content -}}
              {{ 'general.form.post_success_subscribe' | t }}
            </p>
          {%- endif -%}          
        {% endform %}
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
      const footerForm = document.querySelector('#password_email_banner_form');
      if (footerForm) {
        const button = footerForm.querySelector('button[type="submit"]');
        const email = footerForm.querySelector('input[type="email"]');
        const errorWrapper = footerForm.querySelector('.password_email_banner_form_error_message');
        if (!button) return;

        button.addEventListener('click', (e) => {
          e.preventDefault();
          console.log('form submission prevented');
          if (!email) return;
          if (isValidEmail(email.value)) {
            if (!errorWrapper) return;
            errorWrapper.classList.add('hidden');
            footerForm.submit();
          } else {
            if (!errorWrapper) return;
            errorWrapper.classList.remove('hidden');
          }
        });
      }

      function isValidEmail(email) {
        const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return regex.test(email);
      }
    });
</script>

{% schema %}
{
  "name": "Password email banner",
  "enabled_on": {
    "templates": ["password"]
  },
  "class": "password-email-banner-section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "Select background image"
    },
    {
      "type": "text",
      "id": "head",
      "label": "Heading",
      "default": "Opening soon!!!"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "Opening soon. Be the first to know when we launch."
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "Top spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "Bottom spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40,
      "unit": "px"
    }
  ]
}
{% endschema %}
