{% style %}
  .password_footer_section_wrapper--{{ section.id }} {
      padding-top: {{ section.settings.top_spacing }}px;
      padding-bottom: {{ section.settings.bottom_spacing }}px;
  }
{% endstyle %}

{{ 'password-footer-section.css' | asset_url | stylesheet_tag }}

{% capture shopify %}
    <a
      class="shopify_link"
      href="//www.shopify.com"
      rel="nofollow"
      target="_blank"
      aria-describedby="a11y-new-window-message"
      aria-label="{{ 'general.shopify' | t }}"
    >
      {{ 'icon-shopify.svg' | inline_asset_content }}
    </a>
  {% endcapture %}

<div class="password_footer_section_wrapper--{{ section.id }} color-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="password_footer_section_inner">
      {%- if settings.social_facebook_link != blank
        or settings.social_instagram_link != blank
        or settings.social_youtube_link != blank
        or settings.social_tiktok_link != blank
        or settings.social_twitter_link != blank
        or settings.social_pinterest_link != blank
        or settings.social_snapchat_link != blank
        or settings.social_tumblr_link != blank
        or settings.social_vimeo_link != blank
      -%}
        <div class="password_footer_section_social_icons_wrapper">
          {% render 'social-icons', new_tab: settings.open_in_new_tab %}
        </div>
      {% endif %}

      <div class="password_footer_section_content">
        <div class="password_footer_section_text">
          {{- 'general.password_page.powered_by_shopify_html' | t: shopify: shopify -}}
        </div>
        <div class="password_footer_section_login">
          {{ 'general.password_page.admin_link_html' | t }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Password footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "label": "Top spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "label": "Bottom spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px"
    }
  ]
}
{% endschema %}
